<h1>Denied Events</h1>

<p><%= link_to 'New Event', new_event_path %></p>

<div id="content">
  
  <p><em>Showing events for <%= current_user.sites.collect(&:name).join(', ') %></em></p>
  
  <div id="events">
    <%= render @events %>
  </div>
  
</div>