
<h1>Pending events</h1>

<p><%= current_user.email %> sites:</p>
<ul>
  <% current_user.sites.each do |site| %>
  <li><%= site.name %></li>
  <% end %>
</ul>

<p><%= @site.name %> Events:</p>

<ul>
  <% @events.each do |event| %>
  <li><%= event.title %></li>
  <% end %>
</ul>