<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="background: #ccc;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;">
    <div id="susd_email_wrap" style="width:80%;max-width:32em;margin:1em auto;background-color:#fff;padding:2em;">
    <%= yield %>
    </div>
  </body>
</html>