/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= depends_on events
 *= depends_on normal
*/

@import "normal.css.scss";

$base-color: #2b3033;
$text-color: darken($base-color, 10%);
@mixin box-shadow($args){
    -webkit-box-shadow: $args;
}

body{
    color: $text-color;
    font-family: "Helvetica", "Helvetica Neue", Arial, sans-serif;
}

form h3{
    font-size: 1.2em;
    color: lighten(saturate($base-color, 10%), 40%);
    font-weight: normal; 
    padding: 0 0.6em;
}

fieldset{
    border-top: 1px solid lighten($base-color, 60%);
    border-bottom: 1px solid lighten($base-color, 60%);
    margin-bottom: 2px;
    padding: 1em 0.4em 1em 0;
}

#rh{
    max-width: 632px;
    margin: 0 auto;
}

#page{
    width: 90%;
    margin: 0 auto;
}

#content{
    background-color: #fafdff;
}


@import "events.css.scss";

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
  body{ background-color: $base-color; }
  @import "480/*";
}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}