/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= depends_on events
 *= depends_on normal
*/

@import "normal.css.scss";

$base-color: #ebf0f2;
$text-color: #2c4350;
$blue-link: #3da3e0;
$green-link: #e0fdcd;
$link: $green-link;
$back-color: #2b3033;

@mixin box-shadow($args){
    -webkit-box-shadow: $args;
}

@mixin round-bottom($rad){
    -webkit-border-bottom-left-radius:$rad;
	-webkit-border-bottom-right-radius:$rad;
	-moz-border-radius-bottomleft:$rad;
	-moz-border-radius-bottomright:$rad;
	border-bottom-left-radius:$rad;
	border-bottom-right-radius:$rad;
}

@mixin clearfix{
    &:after{
        content: ".";
    	display: block;
    	height: 0;
    	clear: both;
    	visibility: hidden;
    }
}

@mixin links($color){
    a, a:link, a:visited{
        color:$color;
        text-decoration: none;
        border-bottom: 1px solid fade-out($color, 0.6);
    }

    a:hover{
        color: lighten($color,10%);
        border-bottom: 1px solid fade-out($color, 0.1);
    }
}

body{
    color: #fff;
    font-family: "Helvetica", "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.4;
    background: $back-color url('background.jpg') no-repeat center top;
}

@include links($green-link);

h1,h2,h3{ font-weight: normal;}

h6{ font-size: 0.76923077em; margin-bottom: 1em; }  //10px
h5{ font-size: 1em; }                               //13px
h4{ font-size: 1.23076923em; margin-bottom: 1em; }  //16px
h3{ font-size: 1.61538462em; margin-bottom: 1em; }  //21px
h2{ font-size: 2em; margin-bottom: 0.75em; }        //26px
h1{ font-size: 2.61538462em; line-height: 1; margin-bottom: 0.5em;}   //34px

form h3{
    font-size: 1.2em;
    color: darken($text-color, 10%);
    font-weight: normal; 
}

fieldset{
    border-bottom: 1px solid darken($base-color, 10%);
    //padding: 1em 0.4em 1em 0;
}

#messages{
    > div{
        margin-bottom: 1em;
    }
}

$notice:#9AC736;
.notice{
    padding: 1em;
    background-color: fade-out($notice, 0.1);
    border: 1px solid darken($notice, 20%);
    color: darken($notice, 50%);
}

$alert:#B5363C;

.alert{
    padding: 1em;
    background-color: fade-out($alert, 0.1);
    border: 1px solid darken($alert, 20%);
    color: darken($alert, 50%);
}

.group:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.menu{
    list-style:none;
    margin:0;
    padding:0;
    > li {
        margin:0 0 0.5em 0;
    }
}

.horz.menu{
    > li{
        float: left;
        margin:0;
        a{
            padding: 1em;
            border: none;
            &.active{
                background-color: fade-out($back-color, 0.5);
                border-radius: 6px;
            }
        }
    }
}

#rh{
    max-width: 632px;
    margin: 0 auto;
}

header{
    width: 90%;
    margin: 1em auto;
    padding: 0 0 1em 0;
    color: #fff;
    
    h1{
        font-size: 1em;
        font-weight: normal;
        float: left;
        margin: 0 1em 0 0;
    }
    #account{
        float: right;
        margin-bottom: 2em;
    }
    
    nav{
        clear:both;
        padding: 1em 0;
        background-color: fade-out(darken($back-color, 10%), 0.6);
        border-radius: 4px;
    }
}

#page{
    width: 90%;
    margin: 4em auto;
}

#title{
    margin-bottom: 1em;
    
    @include clearfix;
	h1{
	    color: #fff;
		font-size: 1.2em;
		font-weight: normal;
		line-height: 1;
		float:left;
		text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	}
	.actions{
	    float:right;
	    padding: 0.625em 0 0 0;
	}
	ul.horz.menu {
	    float: right;
	    padding: 0.9em 0 0 0;
	}
}

div.border{
   height: 1px; 
   background-color:#fff;
   border-top: 28px solid #e6eff5;
   border-bottom: 1px solid fade-out(#2d4655, 0.8);
}

#content{
    color: $text-color;
    background-color: #fff;
	margin-bottom: 2em;
	padding: 2em;
	@include box-shadow(0 3px 4px rgba(0,0,0,0.4));
	
	@include links($blue-link);
}


@import "events.css.scss";

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
  body{  }
  @import "480/*";
}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}